{% extends 'main/Main.html'%}
{% load static %}
{% block content %}

<main role="main" class="inner cover">
        <h1 class="cover-heading">Who we are:</h1>
        <p class="lead">A group of sellers, who know just how difficult it is to sell products on Amazon. We want to bring the best of the newest technolgies to sellers just like. We hope it can help in making your product the best it can.</p>
        <p class="lead">
          <a href="/register" class="btn btn-lg btn-secondary">Sign Up for a Free Product Analysis</a>
        </p>
      </main>


{% endblock content %}