{% extends 'main/Main.html'%}
{% load static %}
{% block content %}

<main role="main" class="inner cover text-center center_margin_format">
  <h1 class="cover-heading">Who we are:</h1>
  <p class="lead">Simply put: a group of sellers. We know just how difficult it is to sell products on Amazon. We want
    to bring the
    best of the newest technolgies to sellers just like you. That's really it. We hope we can help in making your
    products the best the possibliy can be. If you'd like to learn more about us, you can reach out at our parent
    company: <a href="https://kingeranalytics.com">Kinger Analytics</a>.</p>
  <p class="lead">
    <a href="/register" class="btn btn-lg btn-secondary">Sign Up for a Product Analysis</a>
  </p>
</main>


{% endblock content %}