{% extends 'main/Main.html'%}
{% load static %}
{% block content %}
<section>
  <div class="text-center special_container container-fluid">
    <img class="banner_img" src="{% static "images\mainbannerv3.png" %}" alt="banner">
    <div class="container text-center special_centered">
      <div class="col-12  mt-2">
        <h1>We Provide Analytics</h1>
        <h7>Every seller deserves the powerdul analytics the companies you use to make
          decisions.
          What we do is provide analytics for sellers like you.
          Wse help you find out what your customers are thinking.
          We want to help you sell the best products possible.
        </h7>
        <br></br>
        <p><a class="btn btn-primary btn-lg text-center" href="{% url 'signup' %}" role="button">Request a Free Analysis
            »</a></p>
        <!-- </div> -->
      </div>
    </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <br></br>
        <h2>What Kind of Analytics? See Below</h2>
        <p>We're living in the era of AI. At Sellers Inn, we use the most cutting edge combination of statical models
          and machine
          learning. We want to help you understand what your customers are thinking. Here are some of the technologies
          we
          use.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container mt-2">
    <div class="row">
      <div class="col-md-4 col-12">
        <ul class="list-unstyled">
          <li class="media">
            <img class="mr-3 number_scales" src="{% static "images\1transparent.png" %}" alt=" placeholder image">
            <div class="media-body">
              <h5 class="mt-0 mb-1">Plotly Tooklit</h5>
              Real Data. Real Graphs. Real Results. Plotly is one of the best techonliges for accomplishing this goal.
              Learn more about plotly <a href="https://plotly.com/">here</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-12">
        <ul class="list-unstyled">
          <li class="media">
            <img class="mr-3 number_scales" src="{% static "images\2transparent.png" %}" alt=" placeholder image">
            <div class="media-body">
              <h5 class="mt-0 mb-1">Natural Language Processing</h5>
              How can Siri, Cortana and Alexa all understand us? In three words: Natural Language Proccesing. Now,
              instead of just major corporations using NLP, you can use it too.
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-12">
        <ul class="list-unstyled">
          <li class="media">
            <img class="mr-3 number_scales" src="{% static "images\3transpatent.png" %}" alt=" placeholder image">
            <div class="media-body">
              <h5 class="mt-0 mb-1">Sentiment Analysis</h5>
              When your customers write a review, their words can mean a lot of things. What Sentiment Analysis does is
              let you know what your customers really think.
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2>Want to see a sample?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, et, placeat !</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-12 text-center">
        <img class="img-fluid" src="{% static "images/400x400.gif" %}" alt="">
        <h4>Lorem ipsum dolor sit amet, consectetur elit</h4>
        <h6>Lorem ipsum dolor sit amet, consectetur elit</h6>
      </div>
      <div class="col-md-6 col-12 text-center mt-md-0 mt-2">
        <img class="img-fluid" src="{% static "images/400x400.gif" %}" alt="">
        <h4>Lorem ipsum dolor sit amet, consectetur elit</h4>
        <h6>Lorem ipsum dolor sit amet, consectetur elit</h6>
      </div>
    </div>
  </div>
</section>
<hr>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1>Lorem ipsum dolor sit amet</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, magni, doloribus, possimus eum sapiente
          deleniti doloremque fugit ut expedita molestiae iusto debitis eveniet modi obcaecati ipsam quos quis labore
          dicta.</p>
        <button type="button" class="btn btn-success">Get in touch</button>
      </div>
    </div>
  </div>
</section>
<hr>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-12">
        <h3 class="text-center">WHO WE ARE</h3>
        <p>Simply put: a group of sellers. We know just how difficult it is to sell products on Amazon. We want
          to bring the
          best of the newest technolgies to sellers just like you. That's really it. We hope we can help in making your
          products the best the possibliy can be.</p>
      </div>
      <div class="col-md-4 col-12">
        <h3 class="text-center">GET IN TOUCH</h3>
        <address class="text-center">
          <strong>Sellers Inn.</strong><br>
          Greater Boston<br>
          MA, 02420, US<br>
          <abbr title="Email">@sellersin.</abbr>
        </address>
      </div>
      <div class="col-md-4 col-12">
        <h3 class="text-center">NEWSLETTER</h3>
        <form>
          <div class="form-group col-12">
            <form action="" method="POST">
              {% csrf_token %}
              <input type="email" name="Email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
              <button type="submit" name="Submit" class="btn btn-dark mt-2">Subscribe</button>
            </form>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<hr>


{% endblock content %}