{% extends 'main/Main.html'%}
{% load static %}
{% block content %}

<div class="container">

    <h1 class="text-center">A Sample Reviews Analysis of a Mechanical Pencil</h1>

    <p class="lead">You can find this product <a href="https://amazon.com">here</a>. All products on Amazon are
        avaliable to be
        analyzed.</p>

    <h4 class="mt-4">Scroll Below to interact with our Analysis</h4>

    {% comment %} <div class="row mb-3">
        <div class="col-sm-6 col-md-8 themed-grid-col">
            <iframe src="{% static 'samples\mechanical_pencil\char_count_distribution.html' %}" title="char Count distribution"
                width="100%" height="500" style="border:none;"></iframe>
        </div>
        <div class="col-sm-6 col-md-4 themed-grid-col">
            <h3>

            </h3>
        </div>
    </div> {% endcomment %}

    {% comment %} <div class="row mb-3">

        <div class="col-sm-6 col-md-4 themed-grid-col">
            <h3>

            </h3>
        </div>
        <div class="col-sm-6 col-md-8 themed-grid-col">
            <iframe src="{% static 'samples\mechanical_pencil\word_count_distribution.html' %}" title="char Count distribution"
                width="100%" height="500" style="border:none;"></iframe>
        </div>
    </div> {% endcomment %}

    <div class="row mb-3">

        <div class="col-sm-6 themed-grid-col">
            <iframe src="{% static 'samples\mechanical_pencil\char_count_distribution.html' %}" title="char Count distribution"
                width="100%" height="500" style="border:none;"></iframe>
        </div>
        <div class="col-sm-6 themed-grid-col">
            <iframe src="{% static 'samples\mechanical_pencil\word_count_distribution.html' %}" title="char Count distribution"
                width="100%" height="500" style="border:none;"></iframe>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-6 col-md-8 themed-grid-col">
            <iframe src="{% static 'samples\mechanical_pencil\year_vs_month_distribution.html' %}"
                title="char Count distribution" width="100%" height="500" style="border:none;"></iframe> </div>
        <div class="col-sm-6 col-md-4 themed-grid-col">
            <h3>

            </h3>
        </div>
    </div>

    <div class="row mb-3">

        <div class="col-sm-6 col-md-4 themed-grid-col">
            <h3>

            </h3>
        </div>
        <div class="col-sm-6 col-md-8 themed-grid-col">
            <iframe src="{% static 'samples\mechanical_pencil\month_vs_day_distribution.html' %}" title="char Count distribution"
                width="100%" height="500" style="border:none;"></iframe> </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-6 col-md-8 themed-grid-col">
            <img class="wordcloud_img" src="{% static 'samples\mechanical_pencil\important_words_reviews_text_wordcloud.png' %}"
                title="char Count distribution" width="100%" height="500" style="border:none;"></img> </div>
        <div class="col-sm-6 col-md-4 themed-grid-col">
            <h3>

            </h3>
        </div>
    </div>

    <div class="row mb-3">

        <div class="col-sm-6 col-md-4 themed-grid-col">
            <h3>

            </h3>
        </div>
        <div class="col-sm-6 col-md-8 themed-grid-col">
            <img class="wordcloud_img"
                src="{% static 'samples\mechanical_pencil\important_words_reviews_titles_wordcloud.png' %}"
                title="char Count distribution" width="100%" style="border:none;"></img>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-6 col-md-8 themed-grid-col">
            <img class="wordcloud_img" src="{% static 'samples\mechanical_pencil\positive_reviews_text_wordcloud.png' %}"
                title="char Count distribution" width="100%" height="500" style="border:none;"></img>
        </div>
        <div class="col-sm-6 col-md-4 themed-grid-col">
            <h3>

            </h3>
        </div>
    </div>

    <div class="row mb-3">

        <div class="col-sm-6 col-md-4 themed-grid-col">
            <h3>

            </h3>
        </div>
        <div class="col-sm-6 col-md-8 themed-grid-col">
            <img class="wordcloud_img" src="{% static 'samples\mechanical_pencil\negative_reviews_text_wordcloud.png' %}"
                title="char Count distribution" width="100%" height="500" style="border:none;"></img>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-6 col-md-8 themed-grid-col">
            <img class="wordcloud_img" src="{% static 'samples\mechanical_pencil\positive_reviews_titles_wordcloud.png' %}"
                title="char Count distribution" width="100%" height="500" style="border:none;"></img>
        </div>
        <div class="col-sm-6 col-md-4 themed-grid-col">
            <h3>

            </h3>
        </div>
    </div>

    <div class="row mb-3">

        <div class="col-sm-6 col-md-4 themed-grid-col">
            <h3>

            </h3>
        </div>
        <div class="col-sm-6 col-md-8 themed-grid-col">
            <img class="wordcloud_img" src="{% static 'samples\mechanical_pencil\negative_reviews_titles_wordcloud.png' %}"
                title="char Count distribution" width="100%" height="500" style="border:none;"></img>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-6 col-md-8 themed-grid-col">
            <iframe src="{% static 'samples\mechanical_pencil\sentiment_over_time_distribution.html' %}"
                title="char Count distribution" width="100%" height="500" style="border:none;"></iframe>
        </div>
        <div class="col-sm-6 col-md-4 themed-grid-col">
            <h3>

            </h3>
        </div>
    </div>



{% endblock content %}